<tr>
    <td class="py-2 px-4 border-b border-b-gray-50">
        <div class="flex items-center">
            <span class="font-small dark:text-gray-200">{{material.inventoryId}}</a>
        </div>
    </td>
    <td class="py-2 px-4 border-b border-b-gray-50">
        <span class="inline-block p-1 rounded bg-emerald-500/10 text-emerald-500 font-medium text-[12px] leading-none">{{startDate}}</span>
    </td>
    <td class="py-2 px-4 border-b border-b-gray-50">
        <span class="inline-block p-1 rounded bg-rose-500/10 text-rose-500 font-medium text-[12px] leading-none">{{endDate}}</span>
    </td>
</tr>

<script>
    console.log({{this}});
</script>